<%- include('partials/header')%>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css"/>

<style>
    p {
        margin: 0;
    }

    .upload__box {
        padding: 40px;
    }

    .upload__inputfile {
        width: .1px;
        height: .1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .upload__btn {
        display: inline-block;
        font-weight: 600;
        color: #fff;
        text-align: center;
        min-width: 116px;
        padding: 5px;
        transition: all .3s ease;
        cursor: pointer;
        border: 2px solid;
        background-color: #4045ba;
        border-color: #4045ba;
        border-radius: 10px;
        line-height: 26px;
        font-size: 14px;
    }

    .upload__btn:hover {
        background-color: unset;
        color: #4045ba;
        transition: all .3s ease;
    }

    .upload__btn-box {
        margin-bottom: 10px;
    }

    .upload__img-wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    .upload__img-box {
        width: 200px;
        padding: 0 10px;
        margin-bottom: 12px;
        position: relative;
    }

    .upload__img-close {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: center;
        line-height: 24px;
        z-index: 1;
        cursor: pointer;
        color: white;
        font-size: 14px;
    }

    .img-bg {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        padding-bottom: 100%;
    }

    .error-message {
        color: red;
        font-size: 0.75rem;
        display: none;
    }
</style>
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <%- include('partials/navbar')%>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <%- include('partials/sidebar')%>
            <!-- partial -->
            <div class="container">
                <h2>Edit product</h2>
                <form id="productForm" action="/admin/editProduct?id=<%= product._id %>" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Form Fields -->
                            <div class="form-group">
                                <label for="productname">Product Name:</label>
                                <input type="text" id="productname" name="productname" class="form-control" value="<%= product.productname %>">
                                <div id="error1" class="error-message"></div>
                            </div>
                            <div class="form-group">
                                <label for="category">Category:</label>
                                <select class="form-select" name="category" id="category" required>
                                    <% category.forEach(cat => { %>
                                        <option value="<%= cat._id %>" <%= product.category.equals(cat._id) ? 'selected' : '' %>><%= cat.category %></option>
                                    <% }) %>
                                    <div id="error2" class="error-message"></div>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="brand">Brand:</label>
                                <select class="form-select" name="brand" id="brand" required>
                                    <% brands.forEach(brand => { %>
                                        <option value="<%= brand._id %>" <%= product.category.equals(brand._id) ? 'selected' : '' %>><%= brand.brandName %></option>
                                    <% }) %>
                                </select>
                                <div id="error3" class="error-message"></div>
                            </div>
                            <div class="form-group">
                                <label for="color">Color:</label>
                                <input type="text" id="color" name="color" class="form-control" value="<%= product.color %>">
                                <div id="error4" class="error-message"></div>
                            </div>
                            <div class="form-group">
                                <label for="size">Size:</label>
                                <input type="text" id="size" name="size" class="form-control" value="<%= product.size %>">
                                <div id="error5" class="error-message"></div>
                            </div>
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea id="description" name="description" class="form-control"><%= product.description %></textarea>
                                <div id="error6" class="error-message"></div>
                            </div>
                            <div class="form-group">
                                <label for="quantity">Quantity:</label>
                                <input type="text" id="quantity" name="quantity" class="form-control" value="<%= product.quantity %>">
                                <div id="error7" class="error-message"></div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="regularPrice">Regular Price:</label>
                                    <input type="text" id="regularprice" name="regularprice" class="form-control" value="<%= product.regularprice %>">
                                    <div id="error8" class="error-message"></div>
                                </div>
                                <!-- <div class="form-group col-md-6">
                                    <label for="salePrice">Sale Price:</label>
                                    <input type="text" id="salePrice" name="saleprice" class="form-control" value="<%= product.saleprice %>">
                                    <div id="error9" class="error-message"></div>
                                </div> -->
                            </div>
                            <div class="form-group">
                                <label for="offer">Product Offer:</label>
                                <input type="text" id="offer" name="productoffer" class="form-control" value="<%= product.productoffer %>">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <% if (product.image && product.image.length > 0) { %>
                                <% product.image.forEach(function(img, index) { %>
                                    <div class="upload__box">
                                        <div class="upload__btn-box">
                                            <label class="upload__btn">
                                                <p>Upload images</p>
                                                <input type="file" data-index="<%= index %>" data-max_length="20" class="upload__inputfile" name="image" accept="image/*">
                                            </label>
                                        </div>
                                        <div class="upload__img-wrap">
                                            <div class='upload__img-box'>
                                                <div style='background-image: url("/productImages/<%= img %>")' data-file='<%= img %>' class='img-bg'>
                                                    <div class='upload__img-close' data-index="<%= index %>">×</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% }); %>
                            <% } else { %>
                                <!-- If no images, show empty upload boxes -->
                                <% for (let i = 0; i < 4; i++) { %>
                                    <div class="upload__box">
                                        <div class="upload__btn-box">
                                            <label class="upload__btn">
                                                <p>Upload images</p>
                                                <input type="file" data-index="<%= i %>" data-max_length="20" class="upload__inputfile" name="image" accept="image/*">
                                            </label>
                                        </div>
                                        <div class="upload__img-wrap"></div>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                        <input type="hidden" id="deletedImages" name="deletedImages" value="">
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>


    <script>
//         jQuery(document).ready(function () {
//     ImgUpload();
// });

// function ImgUpload() {
//     var imgWrap = "";
//     var imgArray = [];
//     var cropper;
//     var cropperImage = $('#cropper-image');
//     var cropperContainer = $('.cropper-container');
//     var cropSaveButton = $('#crop-save-button');
//     var hiddenInputsContainer = $('#hidden-inputs-container');
//     var errorImages = $('#error-images');

//     $('.upload__inputfile').each(function () {
//         $(this).on('change', function (e) {
//             imgWrap = $(this).closest('.upload__box').find('.upload__img-wrap');
//             var maxLength = $(this).data('max_length');

//             var files = e.target.files;
//             var filesArr = Array.prototype.slice.call(files);

//             filesArr.forEach(function (f) {
//                 if (!f.type.match('image.*')) {
//                     return;
//                 }

//                 if (imgArray.length >= maxLength) {
//                     return false;
//                 }

//                 var reader = new FileReader();
//                 reader.onload = function (e) {
//                     cropperImage.attr('src', e.target.result);
//                     cropperContainer.show();

//                     cropper = new Cropper(cropperImage[0], {
//                         aspectRatio: 1,
//                         viewMode: 1,
//                         guides: true,
//                         background: false,
//                         autoCropArea: 1,
//                         zoomable: true
//                     });

//                     cropSaveButton.off('click').on('click', function () {
//                         if (cropper) {
//                             var croppedCanvas = cropper.getCroppedCanvas();
//                             croppedCanvas.toBlob(function (blob) {
//                                 var file = new File([blob], f.name, { type: 'image/png' });

//                                 var reader = new FileReader();
//                                 reader.onload = function (e) {
//                                     var html = "<div class='upload__img-box'><div style='background-image: url(" + e.target.result + ")' data-file='" + file.name + "' class='img-bg'><div class='upload__img-close'>×</div></div></div>";
//                                     imgWrap.append(html);

//                                     imgArray.push(file);

//                                     // Create a new hidden input with the cropped image
//                                     var inputName = 'productImages';  // Use the model's field name
//                                     var hiddenInput = $('<input>')
//                                         .attr('type', 'hidden')
//                                         .attr('name', inputName)
//                                         .val(e.target.result);
//                                     hiddenInputsContainer.append(hiddenInput);

//                                     cropperContainer.hide();
//                                     cropper.destroy();
//                                     cropper = null;
//                                 }
//                                 reader.readAsDataURL(file);
//                             }, 'image/png', 1.0);
//                         }
//                     });
//                 }
//                 reader.readAsDataURL(f);
//             });
//         });
//     });

//     $('body').on('click', ".upload__img-close", function () {
//         var file = $(this).parent().data("file");
//         imgArray = imgArray.filter(function (img) {
//             return img.name !== file;
//         });
//         $(this).closest('.upload__img-box').remove();
//         hiddenInputsContainer.find('input[value="' + file + '"]').remove(); // Remove corresponding hidden input
//     });
// }

const pnameId = document.getElementById('productname');
const catId = document.getElementById('category');
const brandId = document.getElementById('brand');
const colorId = document.getElementById('color');
const descId = document.getElementById('description');
const sizeId = document.getElementById('size');
const rprice = document.getElementById('regularprice');
const sprice = document.getElementById('saleprice');
const quantity = document.getElementById('quantity');
const offer = document.getElementById('productoffer');

const error1 = document.getElementById('error1');
const error2 = document.getElementById('error2');
const error3 = document.getElementById('error3');
const error4 = document.getElementById('error4');
const error5 = document.getElementById('error5');
const error6 = document.getElementById('error6');
const error7 = document.getElementById('error7');
const error8 = document.getElementById('error8');

const errorImages = document.getElementById('error-images');
const hiddenInputsContainer = $('#hidden-inputs-container');

const productForm = document.getElementById('productForm');

function validateProductName() {
    const pnameVal = pnameId.value;
    if (pnameVal.trim() === '') {
        error1.style.display = 'block';
        error1.innerHTML = 'Please enter the product name';
    } else {
        error1.style.display = 'none';
        error1.innerHTML = '';
    }
}

function validateCategory() {
    const catVal = catId.value;
    if (catVal.trim() === '') {
        error2.style.display = 'block';
        error2.innerHTML = 'Please select a category';
    } else {
        error2.style.display = 'none';
        error2.innerHTML = '';
    }
}

function validateBrand() {
    const brandVal = brandId.value;
    if (brandVal.trim() === '') {
        error3.style.display = 'block';
        error3.innerHTML = 'Please enter the brand';
    } else {
        error3.style.display = 'none';
        error3.innerHTML = '';
    }
}

function validateColor() {
    const colorVal = colorId.value;
    if (colorVal.trim() === '') {
        error4.style.display = 'block';
        error4.innerHTML = 'Please enter the color';
    } else {
        error4.style.display = 'none';
        error4.innerHTML = '';
    }
}

function validateSize() {
    const sizeVal = sizeId.value;
    if (sizeVal.trim() === '') {
        error5.style.display = 'block';
        error5.innerHTML = 'Please enter the size';
    } else {
        error5.style.display = 'none';
        error5.innerHTML = '';
    }
}

function validateDescription() {
    const descVal = descId.value;
    if (descVal.trim() === '') {
        error6.style.display = 'block';
        error6.innerHTML = 'Please enter a description';
    } else {
        error6.style.display = 'none';
        error6.innerHTML = '';
    }
}

function validateQuantity() {
    const quantityVal = quantity.value;
    const quantityPattern = /^[0-9]+$/;

    if (quantityVal.trim() === '') {
        error7.style.display = 'block';
        error7.innerHTML = 'Please enter the quantity';
    } else if (!quantityPattern.test(quantityVal)) {
        error7.style.display = 'block';
        error7.innerHTML = 'Invalid quantity format';
    } else {
        error7.style.display = 'none';
        error7.innerHTML = '';
    }
}

function validateRegularPrice() {
    const rpriceVal = rprice.value;
    const pricePattern = /^[0-9]+(\.[0-9]{1,2})?$/;

    if (rpriceVal.trim() === '') {
        error8.style.display = 'block';
        error8.innerHTML = 'Please enter the regular price';
    } else if (!pricePattern.test(rpriceVal)) {
        error8.style.display = 'block';
        error8.innerHTML = 'Invalid price format';
    } else {
        error8.style.display = 'none';
        error8.innerHTML = '';
    }
}

function validateImages() {
    const imagesCount = hiddenInputsContainer.find('input[name="productImages"]').length;
    if (imagesCount < 3) {
        errorImages.style.display = 'block';
        errorImages.innerHTML = 'Please upload at least 3 images';
    } else {
        errorImages.style.display = 'none';
        errorImages.innerHTML = '';
    }
}
function validateForm() {
    validateProductName();
    validateCategory();
    validateBrand();
    validateColor();
    validateDescription();
    validateSize();
    validateRegularPrice();
    validateQuantity();
    validateImages();

    // Check for visible error messages and prevent submission
    if (error1.innerHTML || error2.innerHTML || error3.innerHTML || error4.innerHTML || error5.innerHTML || error6.innerHTML || error7.innerHTML || error8.innerHTML || errorImages.innerHTML) {
        return false;
    }
    return true;
}

// Updated submit event handler to properly prevent form submission
productForm.addEventListener('submit', function (event) {
    if (!validateForm()) {
        event.preventDefault();  // Prevent form submission if validation fails
        alert("Please fix the errors before submitting the form.");  // Optional alert to notify user
    }
});

document.addEventListener('DOMContentLoaded', function () {
    // Attach validation listeners to fields
    pnameId.addEventListener('blur', validateProductName);
    catId.addEventListener('change', validateCategory);
    brandId.addEventListener('change', validateBrand);
    colorId.addEventListener('blur', validateColor);
    descId.addEventListener('blur', validateDescription);
    sizeId.addEventListener('blur', validateSize);
    rprice.addEventListener('blur', validateRegularPrice);
    quantity.addEventListener('blur', validateQuantity);

    // Validate images on file selection
    $('.upload__inputfile').on('change', validateImages);

    // Form submission validation
    productForm.addEventListener('submit', function (event) {
        if (!validateForm()) {
            event.preventDefault();  // This will stop the form from submitting
            return false; 
             // Return false to prevent further action
        }
    });
});

function validateForm() {
    // Call all validation functions
    validateProductName();
    validateCategory();
    validateBrand();
    validateColor();
    validateDescription();
    validateSize();
    validateRegularPrice();
    validateQuantity();
    validateImages();

    // Check if there are any error messages
    if (error1.innerHTML || error2.innerHTML || error3.innerHTML || error4.innerHTML ||
        error5.innerHTML || error6.innerHTML || error7.innerHTML || error8.innerHTML || 
        errorImages.innerHTML) {
        return false;  // Return false to indicate invalid form
    }

    return true;  // Return true only if there are no errors
}


// function validateForm() {
//     validateProductName();
//     validateCategory();
//     validateBrand();
//     validateColor();
//     validateDescription();
//     validateSize();
//     validateRegularPrice();
//     validateQuantity();
//     validateImages();

//     if (error1.innerHTML || error2.innerHTML || error3.innerHTML || error4.innerHTML || error5.innerHTML || error6.innerHTML || error7.innerHTML || error8.innerHTML || errorImages.innerHTML) {
//         return false;
//     }
//     return true;
// }

// document.addEventListener('DOMContentLoaded', function () {
//     pnameId.addEventListener('blur', validateProductName);
//     catId.addEventListener('change', validateCategory);  
//     brandId.addEventListener('change', validateBrand);   
//     colorId.addEventListener('blur', validateColor);
//     descId.addEventListener('blur', validateDescription);
//     sizeId.addEventListener('blur', validateSize);
//     rprice.addEventListener('blur', validateRegularPrice);
//     quantity.addEventListener('blur', validateQuantity);

//     // Validate images on file selection
//     $('.upload__inputfile').on('change', validateImages);

//     // Form submission validation
//     productForm.addEventListener('submit', function (event) {
//         if (!validateForm()) {
//             event.preventDefault();
//         }
//     });
// });

    </script>
    <!-- <script>
        const pnameId = document.getElementById('productname');
        const catId = document.getElementById('category');
        const brandId = document.getElementById('brand');
        const colorId = document.getElementById('color');
        const sizeId = document.getElementById('size');
        const desId = document.getElementById('description');
        const qtyId = document.getElementById('quantity');
        const regPriceId = document.getElementById('regularPrice');
        const salePriceId = document.getElementById('salePrice');
        const err1 = document.getElementById('error1');
        const err2 = document.getElementById('error2');
        const err3 = document.getElementById('error3');
        const err4 = document.getElementById('error4');
        const err5 = document.getElementById('error5');
        const err6 = document.getElementById('error6');
        const err7 = document.getElementById('error7');
        const err8 = document.getElementById('error8');
        const err9 = document.getElementById('error9');
        const imgErr = document.getElementById('imageError');
    
        function showError(inputId, errorId, message) {
            errorId.innerText = message;
            errorId.style.display = 'block';
            if (inputId) {
                inputId.focus();
            }
        }
    
        function hideErrors() {
            const errors = document.querySelectorAll('.error-message');
            errors.forEach(error => error.style.display = 'none');
        }
    
        function validateForm() {
            hideErrors();
            let isValid = true;
    
            if (pnameId.value.trim() === '') {
                showError(pnameId, err1, "Product name cannot be empty.");
                isValid = false;
            }
            if (catId.value === '') {
                showError(catId, err2, "Please select a category.");
                isValid = false;
            }
            if (brandId.value.trim() === '') {
                showError(brandId, err3, "Brand cannot be empty.");
                isValid = false;
            }
            if (colorId.value.trim() === '') {
                showError(colorId, err4, "Color cannot be empty.");
                isValid = false;
            }
            if (sizeId.value.trim() === '') {
                showError(sizeId, err5, "Size cannot be empty.");
                isValid = false;
            }
            if (desId.value.trim() === '') {
                showError(desId, err6, "Description cannot be empty.");
                isValid = false;
            }
            if (qtyId.value.trim() === '') {
                showError(qtyId, err7, "Quantity cannot be empty.");
                isValid = false;
            }
            if (regPriceId.value.trim() === '' || isNaN(regPriceId.value) || parseFloat(regPriceId.value) <= 0) {
                showError(regPriceId, err8, "Regular price should be a positive number.");
                isValid = false;
            }
            if (salePriceId.value.trim() === '' || isNaN(salePriceId.value) || parseFloat(salePriceId.value) <= 0) {
                showError(salePriceId, err9, "Sale price should be a positive number.");
                isValid = false;
            }
    
            // Validate image count
            const existingImagesCount = document.querySelectorAll('input[name="existingImages[]"]').length;
            const newImagesCount = document.querySelectorAll('input[name="newImage"]').length - existingImagesCount;
    
            if ((existingImagesCount + newImagesCount) < 3) {
                showError(null, imgErr, "Please upload at least 3 images.");
                isValid = false;
            }
    
            return isValid;
        }
    
        $(document).ready(function () {
            $("#productForm").on("submit", function (e) {
                if (!validateForm()) {
                    e.preventDefault();  // Prevent form submission if validation fails
                }
            });
    
            ImgUpload();
    
            function ImgUpload() {
                var imgWrap = "";
                var imgArray = [];
                var croppers = {};
    
                $('.upload__inputfile').each(function (index) {
                    $(this).on('change', function (e) {
                        imgWrap = $(this).closest('.upload__box').find('.upload__img-wrap');
                        var maxLength = $(this).data('max_length');
    
                        var files = e.target.files;
                        var filesArr = Array.prototype.slice.call(files);
    
                        filesArr.forEach(function (f) {
                            if (!f.type.match('image.*')) {
                                return;
                            }
    
                            if (imgArray.length >= maxLength) {
                                return false;
                            }
    
                            imgArray.push(f);
    
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                var html = "<div class='upload__img-box'><div style='background-image: url(" + e.target.result + ")' data-file='" + f.name + "' class='img-bg'><div class='upload__img-close'>×</div></div></div>";
                                imgWrap.append(html);
    
                                var cropperImage = $('#cropper-image-' + index);
                                var cropperContainer = cropperImage.closest('.cropper-container');
                                cropperImage.attr('src', e.target.result);
                                cropperContainer.show();
    
                                if (croppers[index]) {
                                    croppers[index].destroy();
                                }
    
                                croppers[index] = new Cropper(cropperImage[0], {
                                    aspectRatio: 1, // Square aspect ratio
                                    viewMode: 1,
                                    guides: true,
                                    background: false,
                                    autoCropArea: 1,
                                    zoomable: true
                                });
                            }
                            reader.readAsDataURL(f);
                        });
                    });
                });
    
                $('button[id^="crop-save-button"]').on('click', function () {
                    var index = $(this).attr('id').split('-').pop();
                    var cropper = croppers[index];
    
                    if (cropper) {
                        var croppedCanvas = cropper.getCroppedCanvas();
                        croppedCanvas.toBlob(function (blob) {
                            var file = new File([blob], 'cropped-image.png', { type: 'image/png' });
                            imgArray.push(file);
    
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                var html = "<div class='upload__img-box'><div style='background-image: url(" + e.target.result + ")' data-file='" + file.name + "' class='img-bg'><div class='upload__img-close'>×</div></div></div>";
                                $('#cropper-image-' + index).closest('.upload__box').find('.upload__img-wrap').append(html);
                            }
                            reader.readAsDataURL(file);
    
                            var cropperContainer = $('#cropper-image-' + index).closest('.cropper-container');
                            cropperContainer.hide();
                            cropper.destroy();
                            croppers[index] = null;
                        }, 'image/png', 1.0);
                    }
                });
    
                $('body').on('click', ".upload__img-close", function () {
                    var file = $(this).parent().data("file");
                    imgArray = imgArray.filter(function (img) {
                        return img.name !== file;
                    });
    
                    // Track deleted images
                    var deletedImages = $('#deletedImages').val().split(',').filter(Boolean);
                    deletedImages.push(file);
                    $('#deletedImages').val(deletedImages.join(','));
    
                    $(this).closest('.upload__img-box').remove();
                });
            }
        });
    </script> -->
    
</body>
<%- include('partials/footer')%>

<!-- const pnameId = document.getElementById('productname');
const catId = document.getElementById('category');
const brandId = document.getElementById('brand');
const colorId = document.getElementById('color');
const descId = document.getElementById('description');
const sizeId = document.getElementById('size');
const rprice = document.getElementById('regularprice');
const sprice = document.getElementById('saleprice');
const quantity = document.getElementById('quantity');
const offer = document.getElementById('productoffer');

const error1 = document.getElementById('error1');
const error2 = document.getElementById('error2');
const error3 = document.getElementById('error3');
const error4 = document.getElementById('error4');
const error5 = document.getElementById('error5');
const error6 = document.getElementById('error6');
const error7 = document.getElementById('error7');
const error8 = document.getElementById('error8');
const error9 = document.getElementById('error9');
const error10 = document.getElementById('error10');

const productForm = document.getElementById('productForm'); -->
            
<!-- jQuery(document).ready(function () {
    ImgUpload();
});

function ImgUpload() {
    var imgWrap = "";
    var imgArray = [];
    var croppers = {};

    $('.upload__inputfile').each(function (index) {
        $(this).on('change', function (e) {
            imgWrap = $(this).closest('.upload__box').find('.upload__img-wrap');
            var maxLength = $(this).data('max_length');

            var files = e.target.files;
            var filesArr = Array.prototype.slice.call(files);

            filesArr.forEach(function (f) {
                if (!f.type.match('image.*')) {
                    return;
                }

                if (imgArray.length >= maxLength) {
                    return false;
                }

                imgArray.push(f);

                var reader = new FileReader();
                reader.onload = function (e) {
                    var html = "<div class='upload__img-box'><div style='background-image: url(" + e.target.result + ")' data-file='" + f.name + "' class='img-bg'><div class='upload__img-close'>×</div></div></div>";
                    imgWrap.append(html);

                    // Show the cropper container and initialize Cropper.js
                    var cropperImage = $('#cropper-image-' + index);
                    var cropperContainer = cropperImage.closest('.cropper-container');
                    cropperImage.attr('src', e.target.result);
                    cropperContainer.show();

                    if (croppers[index]) {
                        croppers[index].destroy();
                    }

                    croppers[index] = new Cropper(cropperImage[0], {
                        aspectRatio: 1, // Square aspect ratio
                        viewMode: 1,
                        guides: true,
                        background: false,
                        autoCropArea: 1,
                        zoomable: true
                    });
                }
                reader.readAsDataURL(f);
            });
        });
    });

    $('button[id^="crop-save-button"]').on('click', function () {
        var index = $(this).attr('id').split('-').pop();
        var cropper = croppers[index];

        if (cropper) {
            var croppedCanvas = cropper.getCroppedCanvas();
            croppedCanvas.toBlob(function (blob) {
                var file = new File([blob], 'cropped-image.png', { type: 'image/png' });
                imgArray.push(file);

                var reader = new FileReader();
                reader.onload = function (e) {
                    var html = "<div class='upload__img-box'><div style='background-image: url(" + e.target.result + ")' data-file='" + file.name + "' class='img-bg'><div class='upload__img-close'>×</div></div></div>";
                    $('#cropper-image-' + index).closest('.upload__box').find('.upload__img-wrap').append(html);
                }
                reader.readAsDataURL(file);

                // Hide the cropper container and destroy the cropper instance
                var cropperContainer = $('#cropper-image-' + index).closest('.cropper-container');
                cropperContainer.hide();
                cropper.destroy();
                croppers[index] = null;
            }, 'image/png', 1.0);
        }
    });

    $('body').on('click', ".upload__img-close", function () {
        var file = $(this).parent().data("file");
        imgArray = imgArray.filter(function (img) {
            return img.name !== file;
        });
        $(this).closest('.upload__img-box').remove();
    });
}


      
function validateProductName() {
    const pnameVal = pnameId.value;
    if (pnameVal.trim() === '') {
        error1.style.display = 'block';
        error1.innerHTML = 'Please enter the product name';
    } else {
        error1.style.display = 'none';
        error1.innerHTML = '';
    }
}

function validateCategory() {
    const catVal = catId.value;
    if (catVal.trim() === '') {
        error2.style.display = 'block';
        error2.innerHTML = 'Please select a category';
    } else {
        error2.style.display = 'none';
        error2.innerHTML = '';
    }
}

function validateBrand() {
    const brandVal = brandId.value;
    if (brandVal.trim() === '') {
        error3.style.display = 'block';
        error3.innerHTML = 'Please enter the brand';
    } else {
        error3.style.display = 'none';
        error3.innerHTML = '';
    }
}

function validateColor() {
    const colorVal = colorId.value;
    if (colorVal.trim() === '') {
        error4.style.display = 'block';
        error4.innerHTML = 'Please enter the color';
    } else {
        error4.style.display = 'none';
        error4.innerHTML = '';
    }
}

function validateDescription() {
    const descVal = descId.value;
    if (descVal.trim() === '') {
        error5.style.display = 'block';
        error5.innerHTML = 'Please enter a description';
    } else {
        error5.style.display = 'none';
        error5.innerHTML = '';
    }
}

function validateSize() {
    const sizeVal = sizeId.value;
    if (sizeVal.trim() === '') {
        error6.style.display = 'block';
        error6.innerHTML = 'Please enter the size';
    } else {
        error6.style.display = 'none';
        error6.innerHTML = '';
    }
}

function validateRegularPrice() {
    const rpriceVal = rprice.value;
    const pricePattern = /^[0-9]+(\.[0-9]{1,2})?$/;

    if (rpriceVal.trim() === '') {
        error7.style.display = 'block';
        error7.innerHTML = 'Please enter the regular price';
    } else if (!pricePattern.test(rpriceVal)) {
        error7.style.display = 'block';
        error7.innerHTML = 'Invalid price format';
    } else {
        error7.style.display = 'none';
        error7.innerHTML = '';
    }
}

function validateSalePrice() {
    const spriceVal = sprice.value;
    const pricePattern = /^[0-9]+(\.[0-9]{1,2})?$/;

    if (spriceVal.trim() === '') {
        error8.style.display = 'block';
        error8.innerHTML = 'Please enter the sale price';
    } else if (!pricePattern.test(spriceVal)) {
        error8.style.display = 'block';
        error8.innerHTML = 'Invalid price format';
    } else {
        error8.style.display = 'none';
        error8.innerHTML = '';
    }
}

function validateQuantity() {
    const quantityVal = quantity.value;
    const quantityPattern = /^[0-9]+$/;

    if (quantityVal.trim() === '') {
        error9.style.display = 'block';
        error9.innerHTML = 'Please enter the quantity';
    } else if (!quantityPattern.test(quantityVal)) {
        error9.style.display = 'block';
        error9.innerHTML = 'Invalid quantity format';
    } else {
        error9.style.display = 'none';
        error9.innerHTML = '';
    }
}

function validateForm() {
    validateProductName();
    validateCategory();
    validateBrand();
    validateColor();
    validateDescription();
    validateSize();
    validateRegularPrice();
    validateSalePrice();
    validateQuantity();

    if (error1.innerHTML || error2.innerHTML || error3.innerHTML || error4.innerHTML || error5.innerHTML || error6.innerHTML || error7.innerHTML || error8.innerHTML || error9.innerHTML || error10.innerHTML) {
        return false;
    }
    return true;
}

document.addEventListener('DOMContentLoaded', function () {
    pnameId.addEventListener('blur', validateProductName);
    catId.addEventListener('blur', validateCategory);
    brandId.addEventListener('blur', validateBrand);
    colorId.addEventListener('blur', validateColor);
    descId.addEventListener('blur', validateDescription);
    sizeId.addEventListener('blur', validateSize);
    rprice.addEventListener('blur', validateRegularPrice);
    sprice.addEventListener('blur', validateSalePrice);
    quantity.addEventListener('blur', validateQuantity);

    productForm.addEventListener('submit', function (e) {
        if (!validateForm()) {
            e.preventDefault();
        }
    });
});


        
            </script>

<%- include('partials/footer')%>
</body>
</html> -->
